<app-header titulo="alert"></app-header>

<ion-content>
<ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
    Alert
</ion-button>

<ion-button (click)="onClick2()" expand="block" fill="clear" shape="round">
    Alert opcion multiple
</ion-button>

<ion-button (click)="onClick3()" expand="block" fill="clear" shape="round">
    Alert de confirmacion
</ion-button>
<ion-button (click)="onClick4()" expand="block" fill="clear" shape="round">
    Present alert prom
</ion-button>

</ion-content>
