
<app-header titulo="card"></app-header>




<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
      <ion-card>
          <ion-item color="primary">
              <ion-icon slot="start" name="add"></ion-icon>
              <ion-label>marcador</ion-label>
          </ion-item>
          <ion-card-content>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dignissimos asperiores reiciendis voluptatum! Rerum eius veniam incidunt, reprehenderit autem, ad non quas aspernatur fuga amet enim, tempora dolores doloribus voluptate? Ex nobis explicabo porro unde suscipit totam quo ea voluptates quas, sapiente ducimus repellat consectetur similique non harum, est optio?
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-img src="https://i.ytimg.com/vi/XMuSD0FrEqo/maxresdefault.jpg"></ion-img>
          <ion-card-content>
          
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque eos assumenda quas, dolorem ipsa architecto distinctio reiciendis odio possimus quasi officia ut ea quisquam, itaque voluptatem laudantium placeat! Minus optio incidunt facilis perspiciatis eaque voluptates, earum, inventore repudiandae facere reprehenderit quasi qui cupiditate natus beatae ratione fugiat accusantium accusamus?
          </ion-card-content>
        </ion-card>
      
</ion-content>
